:root{
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #120078;
    --bs-secondary: #10495c;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: "Oswald", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
footer {
    width: 100%;
    background-color: var(--bs-primary);
    margin: 50px auto;
    height: 900px;
    font-family: "Poppins", sans-serif ;
    border: 1px solid blue;
}

.footer-box{
    width: 1700px;
    margin: 50px  auto;
    height: 800px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #fff;
    justify-content: space-between;
}
.f{
    width: 1600px;
    margin: 15px;
    height: 750px;
    flex-grow: +1;
    border: 1px solid #fff;
   
    letter-spacing: 3px;
    word-spacing: 2px;
    padding: 10px;
}
.f1{
    width: 600px;
}
.f h1{
    color: var(--bs-white);
    border: 1px solid #fff;
    width:  auto;
    height: auto;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    margin: 5px;
    padding: 10px;
}
.f a{
    display: block;
    text-transform: capitalize;
    color: var(--bs-white);
    width:  200px;
    height: 50px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 2px;
    padding: 10px;
    text-decoration: none;
}

.f1 p{
    border: 1px solid #fff;
    width:  450px;
    height: 250px;
    font-size: 18px;
    font-weight: lighter;
    color: var(--bs-light);
    margin-top: 30px;
    padding: 10px;
}
.f4 p{
    border: 1px solid #fff;
    width:  auto;
    height: auto;
    font-size: 18px;
    font-weight: lighter;
    color: var(--bs-light);
    margin-top: 30px;
    padding: 10px;
}
span{
    display: block;
}

.f2{
    width: 300px;
}
.f3{
    width: 300px;
}
.f4{
    width: 300px;
}